

<f:if condition="{data.header_layout}">
	<f:then>
		<f:variable name="headerLayout" value="h{data.header_layout}" />
		<f:variable name="subheaderLayout" value="h{data.header_layout + 2}" />
	</f:then>
	<f:else>
		<f:variable name="headerLayout" value="h{settings.defaultHeaderType}" />
		<f:variable name="subheaderLayout" value="h{settings.defaultHeaderType + 2}" />	
	</f:else>
</f:if>

<f:variable name="headerPosition" value=""/>
<f:if condition="{data.header_position} === 'center' || {data.header_position} === 'right'}">
	<f:variable name="headerPosition" value="text-align:{data.header_position}"/>
</f:if>

<f:if condition="{data.header_layout} != 100">
	<f:if condition="{data.header_position}">
		<f:then>
			<f:if condition="{data.header}">
				<{headerLayout} style="{headerPosition}"> {data.header -> f:format.raw()}</{headerLayout}>
			</f:if>
			<f:if condition="{data.subheader}">
				<{subheaderLayout} style="{headerPosition}"> {data.subheader -> f:format.raw()}</{subheaderLayout}>
			</f:if>
		</f:then>
		<f:else>
			<f:if condition="{data.header}">
				<{headerLayout}> {data.header -> f:format.raw()}</{headerLayout}>
			</f:if>
			<f:if condition="{data.subheader}">
				<{subheaderLayout}> {data.subheader -> f:format.raw()}</{subheaderLayout}>
			</f:if>
		</f:else>
	</f:if>
</f:if>
